<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github-y-function" value="https://nuget.pkg.github.com/y-function/index.json"/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github-y-function">
      <package pattern="Y.*"/>
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
  </packageSourceMapping>
  <packageSourceCredentials>
    <github-y-function>
      <add key="Username" value="%NUGET_USERNAME%"/>
      <add key="ClearTextPassword" value="%NUGET_PASSWORD%"/>
    </github-y-function>
  </packageSourceCredentials>
</configuration>