<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github-y-function" value="https://nuget.pkg.github.com/y-function/index.json"/>
  </packageSources>
  <packageSourceCredentials>
    <github-y-function>
      <add key="Username" value="USERNAME"/>
      <add key="ClearTextPassword" value="TOKEN"/>
    </github-y-function>
  </packageSourceCredentials>
</configuration>